html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "楷体";
}

#container {
   
    width: 100%;
    height: 100%;
    background-image: url(../img/login.png);
    background-attachment: fixed;
    background-size: 100% 100%;

 
}

#welcome {
   height: 10%;
   padding-left: 10%;
    text-align: left;
    background-color: rgba(256, 256, 256, 0.2);
}

#welcome > p {
    font-size: 60px;
    line-height: 80px;
    margin: 0;
    color: #12a2a7;
}

#loginFormContainer {
    width: 100%;
    height: 78%;
    padding-top:2%;

}

#loginForm {
    width: 460px;
    height: 360px;
    margin-top:150px;
    margin-right: 200px;
    padding: 40px;
    color: white;
    border: 1px #9d9696 solid;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .4);
    float: right;

    

}

.forms {
    width: 100%;
    height: 80px;
    margin: 10% 0 10% 0;
}

span {
    font-size: 35px;
    line-height: 80px;
    width: 80px;
    height: 80px;
    text-align: center;
    
}

.text {
    font-size: 32px;
    line-height: 50px;
     border-radius: 6px;
    width: 300px;
    height: 60px;
    color: black;
    border: 1px #9d9696 solid;
   
    background-color: rgba(256, 256, 256, .6);
}

.text:hover {
    width: 340px;
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    background-color: rgba(256, 256, 256, 0.8);
}

.btn {

    font-size: 30px;
    line-height: 42px;
    text-align: center;
    width: 110px;
    height: 45px;
    color: white;
    margin: 0 60px 0 40px;
    border: 2px #9d9696 solid;
    border-radius: 16px;
    background-color: rgba(256, 256, 256, .4);
    padding: 0;
    border: 0;
}
.btn:hover {
    background-color: rgba(256, 256, 256, .7);
}

#copyright {
    height: 10%;
    padding: 1%;
    text-align: center;
    color: #12a2a7;
    background-color: rgba(256, 256, 256, .2);
}

#copyright > p {
    font-size: 26px;
    line-height: 35px;
    margin: 0;
}

#registerForm {
    
    top: 80px;
    left: 0;
    right: 0;
    
    margin-right: auto; 
    margin-left: auto;
    padding: 40px 20px 20px 20px;
    width: 540px;
    height: 750px;
    border: 10px #8B8F8D solid;
    background-color:  rgba(0, 0, 0, 0.4);
    border-radius: 48px;
    position: fixed;
    visibility: hidden;
}


label {
   width: 150px;
   height: 30px;
   padding-right: 5px;
   font-size: 30px;

   line-height:42px;
   margin: 20px 0 20px 0;
   float: left;
   text-align: right;
   color: white;
}

.texts {
    width: 260px;
  height: 45px;
   font-size: 32px;
   border: 2px white solid;
   line-height:45px;
   color: black;
   margin: 20px 0 20px 0;
   border-radius: 5px;
   background-color: rgba(256, 256, 256, 0.6);

}

img {
    height: 45px;
    width: 45px;
    float: right;
    margin-top:20px;
    padding-right: 30px;
    display: inline;
    visibility: hidden;
}

.texts:hover { 
    background-color: rgba(256, 256, 256, 0.8);
}

#alert {
    color: yellow ;
    height: 12px;
    line-height: 12px;
    padding-left: 200px;
    margin: 0；
}

#rebtn {new
    padding:  10px  0 0 80px ;
}
.btns {
    width: 100px;
    height: 58px;
    border: 2px green solid;
    border-radius: 6px;
    font-size: 26px;
    color: green;
    background-color: rgba(256, 256, 256, 0.6);
   
}
#btnRegisters {
    margin-right: 200px;
}
.btns:hover { 
    background-color: rgba(256, 256, 256, 0.8);
}